body {
    background-image: url('../img/6b60e56eadc2fe9793a5d6dbe1e07b5a.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}
.list-group-item.suggestion-item:hover {
    background-color: var(--bs-primary);
    color: white;
}

/*passer ceci dans lme sass bootstrap*/
.supr-ingr{
    padding: 0rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    border: 0rem;
}
