@font-face {
    font-family: "Osake";
    src: url("../fonts/Osake.otf") format("opentype");
};

@font-face{
    font-family: "Lato";
    src: url("../fonts/Lato-Regular.ttf") format("truetype")
};

$title-font: "Osake";
$body-font: "Lato";

$colors : (
    "primary": #AEB89F,
    "secondary": #A99FB8,
    "warning": #FFB89F
);

