@use "./debug.scss";


@use "./custom.scss" as custom;
@use "./app/backgroungManager.scss";
@use "./app/topSection.scss";
@use "./app/language.scss";
@use "./app/form.scss";

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    font-family: custom.$body-font;
    font-size: clamp(1em, 0.5em + 2.6vw, 1.1em);
}
