
.language{
    position: absolute;
    top: 1.5vh;
    right: 1.5vw;
    display: flex;
    gap: 1vw;
    &-flag{
        width: 4vw;
        cursor: pointer;
        background: #fff center center no-repeat;
        border-radius: 10%;
    }
}
