@use "../custom.scss" as custom;
@use "sass:map";


.ts{
        display: flex;
        height: 100vh;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        & > *{
            color: map.get(custom.$colors, "primary");
            font-family: custom.$title-font;
        }
        &-text{
            font-size: clamp(1.5rem, 3vw + .5rem, 3rem);
        }
        &-title{
            font-size: clamp(4rem, 10vw + .5rem, 7rem);
            text-align: center;
        }
    }