@use "../custom.scss" as custom;
@use "sass:map";


.ts{
        display: flex;
        height: 100vh;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        & > *{
            color: map.get(custom.$colors, "primary");
            font-family: custom.$title-font;
        }
        &-text{
            font-size: clamp(1.2em, calc(4vw + 0.5em), 6em);
        }
        &-title{
            font-size: clamp(2em, calc(8vw + 1em), 8em);
            text-align: center;
        }
    }